/* Light */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

.app-dark {
  --color-background: #000;
  --color-background-soft: #222;
  --color-background-mute: #111;
  --color-border: #444;
  --color-border-hover: #666;
  --color-heading: #fff;
  --color-text: #ddd;
}

/* Primary and Surface Palettes */
.house-gryffindor {
  --p-primary-50: #fce8e8;
  --p-primary-100: #ffd7d7;
  --p-primary-200: #ffb6b6;
  --p-primary-300: #ffa07a;
  --p-primary-400: #ff9900;
  --p-primary-500: #e67e73;
  --p-primary-600: #e53e3e;
  --p-primary-700: #d63031;
  --p-primary-800: #c42e2e;
  --p-primary-900: #a52727;
  --p-primary-950: #7e1e1e;
  --p-surface-0: #ffffff;
  --p-surface-50: #fafafa;
  --p-surface-100: #f5f5f5;
  --p-surface-200: #e5e5e5;
  --p-surface-300: #d9d9d9;
  --p-surface-400: #bdbdbd;
  --p-surface-500: #8a8a8a;
  --p-surface-600: #656565;
  --p-surface-700: #424242;
  --p-surface-800: #1a1a1a;
  --p-surface-900: #000000;
  --p-surface-950: #000000;
  --p-content-border-radius: 6px;
}

.app-dark .house-gryffindor {
  --p-primary-50: #4d0000;
  --p-primary-100: #660000;
  --p-primary-200: #7e0000;
  --p-primary-300: #a50000;
  --p-primary-400: #d10000;
  --p-primary-500: #e60000;
  --p-primary-600: #f50000;
  --p-primary-700: #ff0000;
  --p-primary-800: #ff3333;
  --p-primary-900: #ff6666;
  --p-primary-950: #ff9999;
  --p-surface-0: #000000;
  --p-surface-50: #101010;
  --p-surface-100: #151515;
  --p-surface-200: #1a1a1a;
  --p-surface-300: #232323;
  --p-surface-400: #282828;
  --p-surface-500: #333333;
  --p-surface-600: #383838;
  --p-surface-700: #424242;
  --p-surface-800: #454545;
  --p-surface-900: #484848;
  --p-surface-950: #4a4a4a;
  --p-content-border-radius: 6px;
}
